<div class="m-2">
    <div class="row">
        <div class="col-sm-12 card text-center">
            <h1>Contect Page</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <img src="http://webmeup.com/upload/blog/lead-image-105.png" alt="Contect">
        </div>
        <div class="col-sm-6 p-3">
            <h2>Contect Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate, unde aliquam accusamus quos esse
                laudantium, odit possimus doloribus fuga quod, ut dolor. Ullam nisi architecto dignissimos, eveniet
                laboriosam consectetur beatae voluptatibus asperiores facere quibusdam molestias dolores, eligendi eaque
                maxime vero possimus quidem iste voluptates dicta commodi minus earum, repudiandae illo! Quod,
                consequatur amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo reiciendis harum dolorem porro quod debitis
                recusandae ex veniam, odit maiores itaque aperiam consequuntur, nemo non culpa rem, aspernatur incidunt
                sint est repellendus voluptatem. Harum quos obcaecati, odio pariatur maxime porro voluptas autem cum
                provident suscipit eum fugit quo modi repellendus?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique debitis nulla at quasi voluptatibus
                quod culpa quibusdam architecto sit. Vitae voluptates recusandae quae ab explicabo provident harum
                laudantium. Ab nihil nemo ad voluptatibus mollitia laboriosam? Corrupti, reiciendis. Deleniti dicta vero
                ducimus perferendis rem repellat recusandae sint ab non consequuntur adipisci quibusdam dolores veniam
                reprehenderit pariatur aut atque nostrum soluta laudantium repellendus voluptate, tenetur sed tempore
                amet? Recusandae sit dolores facere?</p>
        </div>
    </div>
</div>