<div class="container">
    <div class="row">
        <div class="col-sm-12 card text-center">
            <h1>About Page</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, earum tempora. Odio illum vero
                praesentium quisquam, temporibus repellendus ratione perferendis fugit, pariatur, modi atque dignissimos
                culpa asperiores dolore error omnis deleniti? Nobis sapiente beatae sint, nemo rem laboriosam quisquam
                excepturi facere consequatur laborum sunt possimus alias consectetur maiores repudiandae id natus fugiat
                repellat quibusdam quod! Quam iste illo dolore magni ducimus delectus commodi doloribus quisquam ad,
                nisi quae sapiente cupiditate voluptatibus pariatur ipsa eligendi dolorum facere! In quas libero enim
                similique magnam illo recusandae quisquam neque quam perspiciatis eos culpa excepturi veritatis omnis
                tenetur accusamus expedita dolore, cum commodi sapiente quis id impedit? Aliquam voluptatem neque, dolor
                vitae excepturi dolorum distinctio nostrum sequi! Odit, dicta qui? Tempore non debitis eaque nostrum,
                fugit unde, eligendi repudiandae excepturi explicabo delectus consequuntur, nisi vel totam cum
                consectetur recusandae voluptatum nihil voluptatem accusantium. Dolor natus odit corporis? Fugiat quidem
                omnis tenetur consectetur culpa autem modi alias asperiores nostrum rerum placeat tempora, reiciendis
                possimus earum sint error itaque accusantium voluptatem? Tempora unde ut ratione veritatis corporis
                fugit commodi earum nulla debitis consequatur et quia recusandae provident, quasi magnam laudantium
                neque, deserunt officia, itaque cum maiores? Impedit omnis porro aspernatur. Aliquam praesentium sunt
                inventore soluta dicta!</p>
        </div>
    </div>
</div>